# CakePHP 3

/vendor/*
/config/app.php

/tmp/cache/models/*
!/tmp/cache/models/empty
/tmp/cache/persistent/*
!/tmp/cache/persistent/empty
/tmp/cache/views/*
!/tmp/cache/views/empty
/tmp/sessions/*
!/tmp/sessions/empty
/tmp/tests/*
!/tmp/tests/empty

/logs/*
!/logs/empty

# CakePHP 2

/app/tmp/*
/app/Config/core.php
/app/Config/database.php
/vendors/*
/Ex01_Variaveis/nbproject/private/
/Ex02_OperacoesMatematicas/nbproject/private/
/Concatenacao_Strings/nbproject/private/
/Ex04_Estruturas_Controle/nbproject/private/
/Lacos_Repeticao/nbproject/private/
/Tipos_Basicos/nbproject/private/
/Boolean/nbproject/private/
/Entrada_Dados/nbproject/private/
/Aula07/nbproject/private/
/Aula07_Casting/nbproject/private/
/Aula08_OperadoresRelacionais/nbproject/private/
/Aula09_FormasReduzidas/nbproject/private/
/Aula10_OperadoresLogicos/nbproject/private/
/Aula11_PostGet/nbproject/private/
/Aula12_Funções/nbproject/private/
/Aula13_Funcoes02/nbproject/private/
/Aula14_FuncoesValorReferencia/nbproject/private/
/Aula15_Funcoes04/nbproject/private/
/Aula15_Funcoes03/nbproject/private/
/Aula15_Funcoes_Include_Requere/nbproject/private/
/Aula15_Funcoes_Include_Require/nbproject/private/
/Aula16_Funcoes_Global/nbproject/private/
/Aula17_Funcao_UsandoGLobal/nbproject/private/
/Aula18_ConsultaSQL/nbproject/private/
/Exercicio01Funcoes_Calculadora/nbproject/private/
/Exercicio02_AutenticacaoUsuario/nbproject/private/
/Aula18_Array/nbproject/private/
/Aula19_PalavraChaveArray/nbproject/private/
/Aula20_UsandoColchetesArray/nbproject/private/
/Aula21_Foreach/nbproject/private/
/Aula22_ArrayAssociativo/nbproject/private/
/Aula23_ArrayMultimensional/nbproject/private/
/Aula24_Array_Parametros_Funcoes/nbproject/private/
/Aula25_Array_Retorno_Funcoes/nbproject/private/
/Exercício03_MesesdoAnocomArray/nbproject/private/
