@charset "UTF-8";

* {
    font-family: 'Roboto', sans-serif; /* Fonte alterada para Roboto */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ELEMENTOS DA INTERFACE */

body {
    background: linear-gradient(180deg, #1a3a4a, #283e56) no-repeat center/cover fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #e0e0e0;
}

header, main, section, article {
    max-width: 700px;
    background-color: #05b5bb;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

header > h1 {
    color: #1acae9;
    font-size: 1.5em; 
    text-transform: uppercase; 
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;
}

footer {
    width: 100%;
    background-color: #1a3a4a;
    color: #f5f5f5;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

p {
    text-align: justify;
    line-height: 1.7em;
    margin-bottom: 15px;
    color: #4f5b66;
}

h2, h3, h4 {
    color: #2e8bc0;
    margin-bottom: 15px;
    text-transform: uppercase; /* Caixa alta */
}

a {
    color: #1a3a4a;
    font-weight: 500;
    text-decoration: none;
    border-bottom: 1px solid #2e8bc0;
}

a:hover {
    color: #2e8bc0;
    border-bottom: 1px solid #1a3a4a;
}

/* TABELAS E LISTAS */

table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #2e8bc0;
    margin: 15px 0;
}

table th, table td {
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #2e8bc0;
    color: #f5f5f5;
}

table tr {
    background-color: #eef3f7;
}

table tr:nth-child(odd) {
    background-color: #dfe7ef;
}

ul > li::marker {
    color: #2e8bc0;
}

/* ELEMENTOS DE FORMULÃRIO */

form {
    background-color: #eef3f7;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    font-size: 0.9em;
    color: #4f5b66;
    margin-top: 15px;
    margin-bottom: 5px;
    display: block;
}

input[type=text], input[type=number], select, input[type=date], input[type=email], input[type=password], input[type=range], input[type=tel], input[type=time], input[type=week] {
    width: 100%;
    padding: 15px;
    font-size: 1em;
    margin: 8px 0 20px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    color: #1a3a4a;
}

input[type=submit], input[type=reset], input[type=button], button {
    width: 100%;
    font-size: 1em;
    padding: 12px;
    margin: 10px 0;
    border: none;
    color: #f5f5f5;
    cursor: pointer;
    background-color: #2e8bc0;
}

input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover, button:hover {
    background-color: #1a3a4a;
}

fieldset {
    border: 1px solid #2e8bc0;
    margin-bottom: 20px;
}

fieldset > legend {
    font-size: 0.9em;
    color: #2e8bc0;
    padding: 5px 10px;
}

input[type=radio] + label, input[type=checkbox] + label {
    font-size: 1em;
    color: #4f5b66;
    display: inline-block;
    margin-right: 15px;
}
